body {
    background-image: url("../images/wheat.png");
}

.intro {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(19, 49, 105);
    text-align: center;
    font-size: 100px;
    height: 400px;
    font-family: monospace;
    color: rgba(250, 232, 129, 0.842);
    border: double 5px rgb(165, 66, 0);
    margin-top: 100px;
}

.trivia {
    display: none;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(19, 49, 105);
    text-align: center;
    font-size: 100px;
    height: 500px;
    font-family: monospace;
    color: rgba(250, 232, 129, 0.842);
    border: double 5px rgb(165, 66, 0);
    margin-top: 100px;   
}

.results {
    display: none;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(19, 49, 105);
    text-align: center;
    font-size: 100px;
    height: 500px;
    font-family: monospace;
    color: rgba(250, 232, 129, 0.842);
    border: double 5px rgb(165, 66, 0);
    margin-top: 100px;
}

.ranTriv {
    margin-bottom: 80px;
}
.time {
    font-size: 40px;
}
.corrAns,
.incorrAns,
.unAns {
    font-size: 40px;
}

a {
    color: black;
    background-color: rgb(250, 232, 129, 0.842);
    text-decoration: none;
    border: outset 5px black;
    font-family: monospace;
    padding: 10px 30px;
    font-size: 60px;
}
a:hover {
    opacity: .8;
    color: brown;
}